@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-ExtraLight.otf');
  font-weight: 100;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Normal.otf');
  font-weight: 400;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Regular.otf');
  font-weight: 500;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Medium.otf');
  font-weight: 600;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url('../fonts/SourceHanSansCN-Heavy.otf');
  font-weight: 900;
}